<div class="workout">
	<div class="workout__title">
		<h1>
			<img src="/assets/img/workout.svg" alt="Food">
			<span *ngIf="workout$ | async as workout; else title;">
				{{workout.name ? 'Edit' : 'Create'}} workout
			</span>
			<ng-template #title>
				Loading ...
			</ng-template>

		</h1>
	</div>
	<div *ngIf="workout$ | async as workout; else loading;">
		<workout-form [workout]="workout" (create)="addWorkout($event)"
			(update)="updateWorkout($event)" (remove)="removeWorkout($event)">
		</workout-form>
	</div>
	<ng-template #loading>
		<div class="message">
			<img src="/assets/img/loading.svg" alt="loading workouts">
			Fetching workout...
		</div>
	</ng-template>
</div>
