<div class="meal">
	<div class="meal__title">
		<h1>
			<img src="/assets/img/food.svg" alt="Food">
			<span *ngIf="meal$ | async as meal; else title;">
				{{meal.name ? 'Edit' : 'Create'}} meal
			</span>
			<ng-template #title>
				Loading ...
			</ng-template>

		</h1>
	</div>
	<div *ngIf="meal$ | async as meal; else loading;">
		<meal-form [meal]="meal" (create)="addMeal($event)"
			(update)="updateMeal($event)" (remove)="removeMeal($event)">
		</meal-form>
	</div>
	<ng-template #loading>
		<div class="message">
			<img src="/assets/img/loading.svg" alt="loading meals">
			Fetching meal...
		</div>
	</ng-template>

</div>
