<div class="meals">
	<div class="meals__title">
		<h1>
			<img src="/assets/img/food.svg" alt="food">
			Your meals
		</h1>
		<a class="btn__add" [routerLink]="['../meals/new']"
			routerLinkActive="active">
			<img src="/assets/img/add-white.svg" alt="add item">
			New Meal
		</a>
	</div>
	<div *ngIf="meals$ | async as meals; else loading;">
		<div class="message" *ngIf="!meals.length">
			<img src="/assets/img/face.svg" alt="face icon">
			No meals, add a new meal to start
		</div>
		<list-item *ngFor="let meal of meals" [item]="meal"></list-item>
	</div>
	<ng-template #loading>
		<div class="message">
			<img src="/assets/img/loading.svg" alt="loading">
			Fetching meals...
		</div>
	</ng-template>

</div>
