<div class="workout-form">
	<form [formGroup]="form">
		<div class="workout-form__name">
			<label for="">
				<h3>Workout name</h3>
				<input type="text" [placeholder]="placeholder"
					formControlName="name">
				<div class="error" *ngIf="required">
					Workout name is required
				</div>
				<label>
					<h3>Type</h3>
					<workout-type formControlName="type"></workout-type>
				</label>
			</label>
		</div>

		<div class="workout-form__details">

			<ng-container
				*ngIf="form.get('type').value === 'strength'; then strength; else endurance">
			</ng-container>
			<ng-template #strength>
				<div formGroupName="strength" class="workout-form__fields">
					<label>
						<h3>Reps</h3>
						<input type="number" formControlName="reps">
					</label>
					<label>
						<h3>Sets</h3>
						<input type="number" formControlName="sets">
					</label>
					<label>
						<h3>Weight <span>(lbs)</span></h3>
						<input type="number" formControlName="weight">
					</label>
				</div>
			</ng-template>

			<ng-template #endurance>
				<div class="workout-form__fields" formGroupName="endurance">
					<label>
						<h3>Distance <span>(mi)</span></h3>
						<input type="number" formControlName="distance">
					</label>
					<label>
						<h3>Duration <span>(minutes)</span></h3>
						<input type="number" formControlName="duration">
					</label>
				</div>
			</ng-template>
		</div>

		<div class="workout-form__submit">
			<div>
				<button type="button" *ngIf="!exists" class="button"
					(click)="createWorkout()">
					Create workout
				</button>
				<button type="button" *ngIf="exists" class="button"
					(click)="updateWorkout()">
					Save
				</button>
				<a class="button button--cancel" [routerLink]="['../']">
					Cancel
				</a>
			</div>
			<div class="workout-form__delete" *ngIf="exists">
				<div *ngIf="toggled">
					<p>Delete item?</p>
					<button class="confirm" type="button"
						(click)="removeWorkout()">
						Yes
					</button>
					<button class="cancel" type="button" (click)="toggle()">
						No
					</button>
				</div>

				<button class="button button--delete" type="button"
					(click)="toggle()">
					Delete
				</button>
			</div>
		</div>
	</form>
</div>
