<div class=auth-form>
	<form [formGroup]="form" (ngSubmit)=onSubmit()>
		<ng-content select=h1></ng-content>
		<label>
			<input (focus)="focusedEmail = true" (blur)="focusedEmail = false"
				type="email" type=email
				[placeholder]="focusedEmail ? '' : 'Email Address'"
				formControlName="email">
		</label>
		<label>
			<input (focus)="focusedPassword = true"
				(blur)="focusedPassword = false" type="password"
				formControlName="password"
				[placeholder]="focusedPassword ? '' : 'Enter password'">
		</label>
		<div class="error" *ngIf="emailFormat">
			Invalid email format.
		</div>
		<div class="error" *ngIf="passwordInvalid">
			Password is required.
		</div>
		<ng-content select=".error"></ng-content>
		<div class="auth-form__action">
			<ng-content select=button></ng-content>
		</div>
		<div class="auth-form__toggle">
			<ng-content select=a></ng-content>
		</div>
	</form>
</div>
