:host ::ng-deep {
	.mat-card {
		max-width: 500px;
		margin: 0 auto;
	}
	.mat-card-header-text {
		margin: 0;
		display: flex;
		width: 100%;
		justify-content: center;
		.mat-card-title {
			margin-bottom: 0;
		}
	}
}
